body {
    font-family: 'Vesper Libre', Times, serif;
    color: #1a1a1a;
    line-height: 1.5;
    margin: 0;
}

header, footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
}

img {
    width: 100%
}

.logo {
    width: 100px;
    padding-top: 8px;
}